<!DOCTYPE html>
<html>
  <head>
    <title>AdFitGear</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <script type="text/javascript">
      window.logoURL = "<%= image_url('logo.png') %>";
      window.userURL = "<%= image_url('profile.svg') %>";
      window.searchURL = "<%= image_url('search.svg') %>";
      window.cartURL = "<%= image_url('cart.svg') %>";
      window.splashPicURL = "<%= image_url('home-page.jpg') %>";
      window.hoodieURL = "<%= image_url('hoodie.jpg') %>";
      window.gearURL = "<%= image_url('lifting-gear.jpg') %>";
      window.joggersURL = "<%= image_url('joggers.jpg') %>";
      window.shirtsURL = "<%= image_url('shirts.jpg') %>";
      window.hatsURL = "<%= image_url('hats.jpg') %>";
      window.githubURL = "<%= image_url('github.png') %>";
      window.linkedinURL = "<%= image_url('linked-in.png') %>";
      window.ryanURL = "<%= image_url('ryan.jpg') %>";
      window.card1URL = "<%= image_url('card1.svg') %>";
      window.card2URL = "<%= image_url('card2.svg') %>";
      window.card3URL = "<%= image_url('card3.svg') %>";
      window.card4URL = "<%= image_url('card4.svg') %>";
      window.card5URL = "<%= image_url('card5.svg') %>";
      window.card6URL = "<%= image_url('card6.svg') %>";
      window.card7URL = "<%= image_url('card7.svg') %>";
      window.card8URL = "<%= image_url('card8.svg') %>";
      window.card9URL = "<%= image_url('card9.svg') %>";
      window.card10URL = "<%= image_url('card10.svg') %>";
      window.card11URL = "<%= image_url('card11.svg') %>";
      window.icon1URL = "<%= image_url('icon1.png') %>";
      window.icon2URL = "<%= image_url('icon2.png') %>";
      window.icon3URL = "<%= image_url('icon3.png') %>";
      window.icon4URL = "<%= image_url('icon4.png') %>";
      window.tanksURL = "<%= image_url('tanks.jpg') %>";

    </script>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat+Subrayada&display=swap" rel="stylesheet">
    <% if logged_in? %>
      <script type="text/javascript">
        window.currentUser = <%= render(
          "api/users/user.json.jbuilder",
          user: current_user
        ).html_safe
        %>
      </script>
    <% end %>

  </head>

  <body>
    <%= yield %>
  </body>
</html>
